
#chatroom {
    //border: 1px solid black;
    background-color: #ffffff;
    //height: 320px;
    //width: 220px;
}

#chat {
	padding: 5px;
    background-color: #f0f0f0;
    overflow: auto;
    height: 246px;
    //width: 220px;
}

#chatOverlay {
    //width: 220px;
    background-color: #f0f0f0;
	opacity: 0.75;
	position : absolute;
	text-align: center;
	vertical-align: middle;
    font-size: 150%;
}

.button {
	width:100%;
}

.phrase {
	width: 100%;
}

.first {
	width: 76%;
	float:right;
}

.second {
	width: 20%;
	float: left;
}

.third {
	width: 20%;
	float: left;
	padding-left: 3px;
	display: none;
}

.input {
    clear: both;
    padding: 0.3em;
    //border-top: 1px solid black;
    background-color: #efebe7;
    height: 23px;
}

span.from {
    font-weight: bold;
}

span.membership {
    font-style: italic;
}

.advanced {
	cursor: pointer;
	//border-top: 1px solid black;
	background-color: #e4e4e4;
	padding: 0.2em;
	//height: 4px;
}

.advancedInner {
	//visibility: hidden;
	display: none;
	//border: 1px solid;
	height: 23px;
}

.private {
	width: 100%;
}

.privateDiv {
	width: 20%;
	float: right;
}

.privateSpan {
	width: 100%;
}

.privateSpanDiv {
	width: 54%;
	float: right;
	padding-right: 8px;
}

.closeAdvanced {
	width: 100%;
}

.closeAdvancedDiv {
	width: 20%;
	float: left;
}

.to {
	width: 100%;
}

.toDiv {
	display: none;
	width: 40%;
	//float: left;
}

.message {
	cursor: pointer;
}

.privateMessage {
	background-color: #e4e4e4;
}