.header { color: white; font-size: 140%; font-family: Arial, Verdana;}

.main { text-align: center }

.title { color: Maroon; font-size: 340%; font-family: Arial, Verdana; }

.button { width: 40%; height: 60px; font-size: 200%; font-family: Arial, Verdana; margin: 10px }

.footer { text-align: center }

.explain { color: grey; font-size: 80%; font-family: Arial, Verdana; }

.count { font-size: 400%; font-family: Arial, Verdana; }

.outOf { font-size: 250%; font-family: Arial, Verdana; }

.members { color: white }
.info { color: white }

.height1 { height: 20px }
.height2 { height: 130px }

span.green {
    background-color: #ffffff;//#00c000;
}

span.white {
    background-color: #ffffff;
}

.counterleft { width: 33%; float: left; }
.countermiddle { width: 33%; float: left; }
.counterright { width: 33%; float: left; }
